<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" th:href="@{css/index.css}">
    <title>Contactanos</title>
  </head>
  <body data-spy="scroll" data-target="#navbar" data-offset="125">
    <!--header-->
    <nav id="header" class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
                <a id="" class="navbar-brand text-ethusac" href="#">
                    <img src="imagenes/logosantanita.PNG" alt="logo" style="width:80px;" >
                   ETHUSAC
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item ">
                            <a class="nav-link" th:href="@{/paginaprincipal}">Incio</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" th:href="@{/Paraderos}">Nuestro Paradero</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-ethusac" th:href="@{/contactanoss}"
                            >Contactanos</a>
                        </li>
                    </ul>
                </div>
        </div>
      </nav>

     <div class="container-fluid">

        <div class="row">
          <div class="col-lg-1 col-12" id="ercolo" style="border:1px solid red;">
          </div>

     <div class="col col-lg-11 text-center" id="cuerpo" style="border:1px solid red;">

            <h1 class="mt-5"><u>Contactanos</u></h1>
            <p class="">Sus opiniones, comentario y sugerencia son bienvenidas ya que apartir de ellos podemos ofrecerle un mejor servicios</p>

            <div class="mt-5">
                <h6 id="ncomu">Comunicate con nosotros</h6>
            </div>
            <div class="row d-flex justify-content-start ml-2" >

             <form id="formulario" class="">
                <div class="row">
                  <div class="col-6">
                    <input type="text" class="form-control" placeholder="Nombre">
                  </div>
                  <div class="col-6">
                    <input type="text" class="form-control" placeholder="apellidos">
                  </div>
                  <div class="col-6">
                    <input type="text" class="form-control" placeholder="Email">
                  </div>
                  <div class="col-6">
                    <input type="text" class="form-control" placeholder="Telefono">
                  </div>
                  <div class="col-6">
                    <input type="text" class="form-control" placeholder="Direccion">
                  </div>
                  <div class="col-6">
                    <input type="text" class="form-control" placeholder="Distrito">
                  </div>
                  <div class="col-12 form-group">
                    <label  >Envianos tus comentario</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                  <button type="button" class="btn btn-primary">Enviar</button>
                </div>
                </div>
              </form>
      </div>

     </div>


    </div>
    <!--cierre de container-fluid-->


      <footer id="footer" class="pb-4 pt-4">
        <div class="container">
            <div class="row text-center">
                 <div class="col-12 col-md">
                     <a href="#">Preguntas frecuentes</a>
                 </div>
                 <div class="col-12 col-md">
                     <a href="">contactanos</a>
                 </div>
                 <div class="col-12 col-md">
                <a href="">prensa</a>
                 </div>
                 <div class="col-12 col-md">
                     <a href="">Termino y condiciones</a>
                 </div>
            </div>
        </div>

    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="Js/index.js"></script>
    <script async defer
     src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB81yksmLJqWk6-O8Yo9J-RPu9yC52JWNY&callback=initMap">
</script>
    <script src="Js/maps.js"></script>
    <script src="Js/localizacion.js"></script>

  </body>
</html>