<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{css/mantenimiento.css}">
    <title>mantenimiento chofer</title>
</head>
<body data-spy="scroll" data-target="#navbar" data-offset="125">
<!--header-->
<nav id="header" class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <a id="" class="navbar-brand text-ethusac" href="#">
            <img src="imagenes/logosantanita.PNG" alt="logo" style="width:80px;" >
            ETHUSAC
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link" th:href="@{/paginaprincipal}">Guia del Sistema</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" th:href="@{/Paraderos}">Contactar a soporte</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<main class="container-fluid">
<section>
    <div class="row">
        <div id="derecho" class="col-1">

        </div>
        <div id="menu" class="col-10">
            <h2 id="titulo"  class="text-center text-warning">Mantenimiento de Moto</h2>
            <hr>
            <div class="row" id="contenido">
            <div class="col-2 bg-dark" id="late-izq">

                <button class="btn btn-success"  data-toggle="modal" data-target="#btnInsertar" >Insertar</button>
            </div>


            <div class="col-10 bg-warning">
                <div  th:switch="manmotos">
                    <div th:case="*"></div>
                <table class="table" id="tmante">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Numero</th>
                        <th scope="col">Placa</th>
                        <th scope="col">Modelo</th>
                        <th scope="col">color</th>
                        <th scope="col">Estado Operativo</th>
                        <th scope="col">Eliminar</th>
                        <th scope="col">Editar</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="moto : ${manmotos}">
                        <th  th:text="${moto.numero}"></th>
                        <td th:text="${moto.placa}"></td>
                        <td th:text="${moto.modelo}"></td>
                        <td th:text="${moto.color}"></td>
                        <td th:text="${moto.estadoOpe}"></td>
                            <td>
                                <di>
                                    <a href="#">Eliminar</a>

                          <td>
                              <di>
                                  <button class="btn btn-success"  data-toggle="modal" data-target="#btnActualizar">
                                  <a th:href="@{/manmoto/{numero} (numero = ${moto.numero})}"> Editar  </a></button>
                              </di>
                      </td>
                      </tr>
                    </tbody>
                  </table>
                <!--cierre de tabla-->
                </div>
            </div>


            </div>
        </div>
        <div id="derecho" class="col">

            </div>
        </div>

        </section>

        </main>

        <!-- Modal Insertar-->

        <div class="modal fade" id="btnInsertar" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Insertar Moto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <form action="#" method="post"
                              th:object="${moto}"
                              th:action="@{/motos/save}">

                            <table>
                                <tr>
                                    <td>placa:</td>
                                    <td><input type="text" th:field="*{placa}"></td>
                                </tr>
                                <tr>
                                    <td>modelo:</td>
                                    <td><input type="text" th:field="*{modelo}"></td>
                                </tr>
                                <tr>
                                    <td>estadoOpe:</td>
                                    <td><input type="text" th:field="*{estadoOpe}"></td>
                                </tr>

                                <tr>
                                    <td>color:</td>
                                    <td><input type="text" th:field="*{color}"></td>
                                </tr>
                                <tr class="pt-2">
                                    <td>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <button type="submit" class="btn btn-primary">Grabar</button>
                                    </td>
                                </tr>

                            </table>

                        </form>
            </div>

        </div>
    </div>
</div>
  
<!-- Modal Actualizar-->
<div class="modal fade" id="btnActualizar" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel2">Actualizar Moto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

            <form action="#" method="post"
                th:object="${moto1}"
               >
                <table>



                </table>

            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Grabar</button>
        </div>
      </div>
    </div>
  </div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="Js/index.js"></script>
</body>
</html>