<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Loan Edit</title>
</head>
<body>
<div>
    <form action="#" method="post"
          th:object="${motose}"
            >

        <table>
            <tr>
                <td>loanNumber:</td>
                <td><input type="number" th:field="*{numero}" disabled></td>
            </tr>
            <tr>
                <td>clientName:</td>
                <td><input type="text" th:field="*{placa}"></td>
            </tr>
            <tr>
                <td>loanAmount:</td>
                <td><input type="text" th:field="*{color}"></td>
            </tr>
            <tr>
                <td>clientLastName:</td>
                <td><input type="text" th:field="*{estadoOpe}"></td>
            </tr>
            <tr>
                <td>loanAmount:</td>
                <td><input type="text" th:field="*{modelo}"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">Agregar</button>
                </td>
            </tr>
        </table>

    </form>
</div>
</body>
</html>
