<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Moto Add</title>
</head>
<body>

<div>
    <form action="#" method="post"
        th:object="${moto}"
          th:action="@{/motos/save}"
         >

        <table>
                <tr>
                    <td>placa:</td>
                    <td><input type="text" th:field="*{placa}"></td>
                </tr>
                <tr>
                    <td>modelo:</td>
                    <td><input type="text" th:field="*{modelo}"></td>
                </tr>
                <tr>
                    <td>estadoOpe:</td>
                    <td><input type="text" th:field="*{estadoOpe}"></td>
                </tr>

                <tr>
                    <td>color:</td>
                    <td><input type="text" th:field="*{color}"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit">Agregar</button>
                    </td>
                </tr>
        </table>

    </form>
</div>

</body>
</html>
